:root {
  --color-primary: #008025;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #a0a0a0;
  --color-text: #302e4d;
  --color-primary-soft: #1a9d40;
  --color-black-soft: #252525;
  --color-white-soft: #f2f2fc;
  --color-gray-soft: #e8dfec;
  --color-text-soft: #504e70;
}

