@import url("./partials/global.css");

main {

	.cover {
		height: 85vh;

		> div {
			align-items: center;
			display: flex;
			justify-content: space-between;

			> div {

				&.left {
					width: 50%;

					.container {
						h2 {
							color: var(--color-primary-soft);
							font-family: wedding;
							font-size: 2.5rem;
						}

						h1 {
							color: var(--color-primary-soft);
							font-family: wedding;
							font-size: 3.9rem;
							margin-bottom: 20px;
						}

						p {
							color: var(--color-text-soft);
							font-size: 1.1rem;
							margin-bottom: 50px;
						}

						a {
							background: var(--color-primary-soft);
							border-radius: 10px 0;
							color: var(--color-white);
							display: inline-block;
							font-weight: bold;
							padding: 10px 50px;

							&:hover {
								background: var(--color-primary);
								border-radius: 0px 10px;
							}
						}
					}
				}

				&.right {
					width: 40%;

					.img {
						align-items: center;
						display: flex;
						justify-content: center;
						margin-bottom: 0px;

						img {
							width: 450px;
						}
					}

					.social-links {
						display: flex;
						justify-content: center;

						li {
							margin: 0 10px;
							position: relative;
							top: 0;

							a {
								i {
									font-size: 2.4rem;
									color: var(--color-text-soft);

								}
							}

							&:hover {
								top: -5px;

								a {
									i {
										color: var(--color-primary-soft);

									}


								}
							}

						}
					}
				}
			}
		}
	}

	.nav-info {
		background: var(--color-primary);
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 40px;
		padding: 0 2%;
		grid-column: 1 / 13;

		* {

			color: #fff;
		}


		> p {
			cursor: pointer;
			font-size: 0.8rem;


			&:hover {
				color: white;
			}
		}

		section {
			display: flex;

			&.contact {
				div {
					display: flex;
					align-items: center;
					margin-right: 30px;
					cursor: pointer;

					i {
						margin-right: 5px;
					}

					span {
						font-size: 0.8rem;
					}

					&:hover {

						i,
						span {
							color: white;

						}
					}
				}
			}

			&.social-network {
				display: flex;
				align-items: center;
				justify-content: center;

				span {
					margin-right: 15px;
					font-size: 0.8rem;

				}

				a {
					margin: 0 3px;

					i {
						font-size: 1.2rem;
					}

					&:hover {
						i {
							color: white;
							cursor: pointer;

						}
					}
				}
			}
		}
	}

	.plot {
		align-items: center;
		min-height: 100vh;


		.description {
			grid-column: 2/7;

			h2 {
				font-size: 2rem;
				color: var(--color-primary);
			}

			h1 {
				margin-bottom: 20px;
				font-size: 2.5rem;
				color: var(--color-text);
			}

			p {
				color: var(--color-text-soft);
				text-align: justify;
				margin-bottom: 10px;
			}

			span {
				margin-top: 30px;
				margin-bottom: 20px;
				display: block;
				color: var(--color-text);
			}

			button {
				display: block;
			}
		}

		.disc-cover {
			grid-column: 8/13;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 500px;
			box-shadow: -10px -10px 10px 0 #fff, 10px 10px 10px 0 rgba(0, 0, 0, 0.600);
			height: 400px;
			overflow: hidden;
			border-radius: 6px;


			img {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.icons {
				align-items: center;
				background: rgba(0, 0, 0, 0.6);
				border-radius: 6px;
				display: flex;
				height: 100%;
				justify-content: center;
				left: 0;
				opacity: 0;
				position: absolute;
				top: 0;
				transition: 300ms;
				width: 100%;


				button {
					align-items: center;
					border-radius: 50%;
					border: 3px solid transparent;
					cursor: pointer;
					display: flex;
					height: 80px;
					justify-content: center;
					transition: 300ms;
					width: 80px;
					background: #000;


					i {
						color: white;
						font-size: 4rem;
					}

					&#play-song {
						padding-left: 8px;
					}

					&#pause-song {
						display: none;
					}

					&:hover {
						border: 3px solid white;
					}
				}
			}


			&:hover .icons {
				opacity: 1;
			}


		}

	}

	.sponsors {
		padding: 50px 0;
		height: 500px;

		h1 {
			font-size: 2rem;
			text-align: center;
			text-transform: uppercase;
			font-family: Poppins, sans-serif;
			color: var(--color-text);

		}

		.swiper {
			.swiper-wrapper {
				height: 300px;

				.swiper-slide {
					display: flex;
					align-items: center;
					justify-content: center;
					overflow: hidden;
					border-radius: 5px;

					img {
						width: 350px;
						height: 200px;
						object-fit: scale-down;
					}
				}
			}

			.swiper-button-prev {}

			.swiper-button-next {}

			.swiper-pagination {
				.swiper-pagination-bullet {
					background: var(--color-primary);
				}
			}

			.scrollbar {}

		}
	}

	.details {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 400px;

		ul {
			display: flex;

			li {
				padding: 40px;

				h2 {
					font-size: 5rem;
					color: var(--color-text);
					text-align: center;
				}

				h3 {
					color: var(--color-text-soft);
					text-align: center;

				}
			}
		}
	}

	.contact {
		background: #0b1127;
		min-height: 100vh;
		height: auto;

		* {
			// outline: 1px dotted;
			color: #fff;

		}

		> div {
			display: flex;
			justify-content: center;

		}

		.text {
			grid-column: 2/7;
			flex-direction: column;
			max-width: 600px;

			> h3 {
				font-size: 1.2rem;
				color: var(--color-gray);
			}

			h2 {
				margin-bottom: 20px;
				font-size: 2.5rem;
			}

			> p {
				margin-bottom: 50px;
			}

			ul {
				margin-bottom: 50px;

				li {
					margin-bottom: 10px;
					display: flex;

					i {}

					span,
					address {
						margin-left: 10px;
						display: block;
					}
				}
			}

			div {
				h3 {
					font-size: 1rem;
					margin-bottom: 10px;
				}

				p {
					font-size: 0.8rem;
					text-align: justify;
					color: var(--color-gray);

				}
			}
		}

		.form {
			align-items: center;
			grid-column: 7/12;

			form {
				min-width: 400px;
				div { 
					width: 100%;
					margin-bottom: 20px;

					label {
						display: block;
						margin-bottom: 10px;
					}

					input,
					textarea {
						background: #fff;
						width: 100%;
						height: 50px;
						font-size: 1.2rem;
						padding: 0 10px;
						color: var(--color-text-soft);
						border: 2px solid var(--color-gray);
						border-radius: 5px;
						&:focus {
							border: 3px solid var(--color-primary);
						}
					}

					textarea {
						padding: 10px;
						height: 200px;
					}
				}
				button{
					width: 100%;
					height: 50px;
					background: var(--color-primary);
					color: var(--color-white);
					font-weight: bold;
					border-radius: 10px 0;
					font-size: 1.1rem;
					cursor: pointer;

					&:hover {
						background: var(--color-primary-soft);
						border-radius: 0px 10px;
					}
				
				}
			}
		}
	}

	.map {
		iframe {
			width: 100%;
			height: 500px;
		}
	}
}