@charset "UTF-8";
@import url("./partials/global.css");
@import "./i.css";
main {
  width: 100%;
}
main .cover {
  height: 98dvh;
  min-height: 700px;
  max-height: 1200px;
}
main .cover .wrapper > div.left {
  grid-column: 2/7;
  align-items: center;
  display: flex;
  justify-content: center;
}
main .cover .wrapper > div.left .container h2 {
  color: var(--color-primary-soft);
  font-family: wedding;
  font-size: 2.5rem;
}
main .cover .wrapper > div.left .container h1 {
  color: var(--color-primary-soft);
  font-family: wedding;
  font-size: 4rem;
  margin-bottom: 20px;
}
main .cover .wrapper > div.left .container p {
  color: var(--color-text-soft);
  font-size: 1.1rem;
  margin-bottom: 50px;
}
main .cover .wrapper > div.left .container > a {
  background: var(--color-primary-soft);
  border-radius: 10px 0;
  color: var(--color-white);
  display: inline-block;
  font-weight: bold;
  padding: 10px 50px;
  margin-bottom: 25px;
}
main .cover .wrapper > div.left .container > a:hover {
  background: var(--color-primary);
  border-radius: 0px 10px;
}
main .cover .wrapper > div.left .container .social-links {
  gap: 25px;
  display: none;
}
main .cover .wrapper > div.left .container .social-links li a i {
  font-size: 2rem;
}
main .cover .wrapper > div.left .container .social-links li a i.fa-facebook {
  color: #3b5998;
}
main .cover .wrapper > div.left .container .social-links li a i.fa-instagram {
  color: #e4405f;
}
main .cover .wrapper > div.left .container .social-links li a i.fa-x-twitter {
  color: #000000;
}
main .cover .wrapper > div.left .container .social-links li a i.fa-youtube {
  color: #cd201f;
}
main .cover .wrapper > div.right {
  grid-column: 8/12;
}
main .cover .wrapper > div.right .img {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}
main .cover .wrapper > div.right .img img {
  width: 450px;
}
main .cover .wrapper > div.right .social-links {
  display: flex;
  justify-content: center;
}
main .cover .wrapper > div.right .social-links li {
  margin: 0 10px;
  position: relative;
  top: 0;
}
main .cover .wrapper > div.right .social-links li a i {
  font-size: 2.4rem;
  color: var(--color-text-soft);
}
main .cover .wrapper > div.right .social-links li a i.fa-facebook {
  color: #3b5998;
}
main .cover .wrapper > div.right .social-links li a i.fa-instagram {
  color: #e4405f;
}
main .cover .wrapper > div.right .social-links li a i.fa-x-twitter {
  color: #000000;
}
main .cover .wrapper > div.right .social-links li a i.fa-youtube {
  color: #cd201f;
}
main .cover .wrapper > div.right .social-links li:hover {
  top: -5px;
}
main .cover .wrapper > div.right .social-links li:hover a i {
  color: var(--color-primary-soft);
}
main .nav-info {
  background: var(--color-primary);
  height: 40px;
  width: 100%;
}
main .nav-info * {
  color: #ffffff;
}
main .nav-info .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}
main .nav-info .wrapper > p {
  font-size: 0.8rem;
}
main .nav-info .wrapper > p:hover {
  color: white;
}
main .nav-info .wrapper section {
  display: flex;
}
main .nav-info .wrapper section.contact {
  gap: 30px;
}
main .nav-info .wrapper section.contact div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
main .nav-info .wrapper section.contact div i {
  margin-right: 5px;
}
main .nav-info .wrapper section.contact div span {
  font-size: 0.8rem;
}
main .nav-info .wrapper section.contact div:hover i,
main .nav-info .wrapper section.contact div:hover span {
  color: white;
}
main .nav-info .wrapper section.social-network {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .nav-info .wrapper section.social-network span {
  margin-right: 15px;
  font-size: 0.8rem;
}
main .nav-info .wrapper section.social-network a {
  margin: 0 3px;
}
main .nav-info .wrapper section.social-network a i {
  font-size: 1.2rem;
}
main .nav-info .wrapper section.social-network a:hover i {
  color: white;
  cursor: pointer;
}
main .banner {
  position: relative;
  height: 100vh;
  min-height: 200px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 100px;
}
main .banner .slides {
  width: 100%;
  height: 100%;
  position: relative;
}
main .banner .slides li {
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  position: absolute;
}
main .banner .slides li .img {
  width: 100%;
  height: 100%;
}
main .banner .slides li .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .banner .slides li .text {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: hsla(0, 0%, 0%, 0.2);
  height: 100%;
  width: 100%;
}
main .banner .slides li .text * {
  color: var(--color-white);
}
main .banner .slides li .text h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}
main .banner .slides li .text p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  width: 50%;
}
main .banner .slides li .text a {
  background: var(--color-primary);
  border-radius: 10px 0;
  color: var(--color-white);
  display: inline-block;
  font-weight: bold;
  padding: 15px 50px;
  border: 3px solid var(--color-white);
  font-size: 1.5rem;
  text-transform: uppercase;
}
main .banner .slides li .text a:hover {
  background: var(--color-primary-soft);
  border-radius: 0px 10px;
}
main .banner .slides li.toRightOld {
  animation: toRightOld 500ms ease-in-out;
}
main .banner .slides li.toRightNew {
  animation: toRightNew 500ms ease-in-out forwards;
  left: 0;
}
main .banner .slides li.toLeftOld {
  animation: toLeftOld 500ms ease-in-out;
}
main .banner .slides li.toLeftNew {
  animation: toLeftNew 500ms ease-in-out forwards;
  left: 0;
}
main .banner .slides li.active {
  left: 0;
}
main .banner > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px 15px;
  border-radius: 10px;
}
main .banner > button.prev {
  left: 30px;
}
main .banner > button.next {
  right: 30px;
}
main .banner > button i {
  font-size: 3.5rem;
  color: var(--color-primary-soft);
}
main .banner .pagination {
  position: absolute;
  bottom: 30px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}
main .banner .pagination .dot {
  width: 50px;
  height: 5px;
  margin: 0 5px;
  background: var(--color-white);
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
main .banner .pagination .dot.active {
  background: var(--color-primary);
  top: 0;
  left: 0;
  cursor: default;
}
main .plot {
  height: auto;
}
main .plot .wrapper .description {
  grid-column: 2/6;
}
main .plot .wrapper .description h2 {
  font-size: 2rem;
  color: var(--color-primary);
  font-family: Playpen Sans;
}
main .plot .wrapper .description h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: var(--color-text);
}
main .plot .wrapper .description p {
  color: var(--color-text-soft);
  text-align: justify;
  margin-bottom: 10px;
}
main .plot .wrapper .description span {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  color: var(--color-text);
}
main .plot .wrapper .description button {
  display: block;
}
main .plot .wrapper .disc-cover {
  grid-column: 7/12;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  box-shadow: -10px -10px 10px 0 #fff, 10px 10px 10px 0 rgba(0, 0, 0, 0.6);
  height: auto;
  overflow: hidden;
  margin: auto;
  border-radius: 6px;
}
main .plot .wrapper .disc-cover img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  object-fit: cover;
}
main .plot .wrapper .disc-cover .icons {
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  transition: 300ms;
  width: 100%;
}
main .plot .wrapper .disc-cover .icons button {
  align-items: center;
  border-radius: 50%;
  border: 3px solid transparent;
  cursor: pointer;
  display: flex;
  height: 80px;
  justify-content: center;
  transition: 300ms;
  width: 80px;
  background: #000;
}
main .plot .wrapper .disc-cover .icons button i {
  color: white;
  font-size: 4rem;
}
main .plot .wrapper .disc-cover .icons button i.bi-play {
  margin-left: 8px;
}
main .plot .wrapper .disc-cover .icons button:hover {
  border: 3px solid white;
}
main .plot .wrapper .disc-cover .icons .player-bars {
  display: flex;
  position: absolute;
  bottom: 0px;
}
main .plot .wrapper .disc-cover .icons .player-bars .bar {
  margin: 0 2px;
  background: #000;
  border-radius: 10px 10px 0px 0px;
  width: 1px;
  height: 50px;
  border: 2px solid #fff;
  border-bottom: none;
  transform: translateY(45px);
}
@keyframes ocilation {
  from {
    transform: translateY(45px);
  }
  to {
    transform: translateY(0px);
  }
}
main .plot .wrapper .disc-cover:hover .icons {
  opacity: 1;
}
main .plot .wrapper .audio {
  display: block;
  grid-column: 7/12;
  padding: 50px 0;
}
main .plot .wrapper .audio audio {
  width: 100%;
}
main .plot .wrapper .audio audio::-webkit-media-controls-start-playback-button {
  display: none !important;
}
main .sponsors {
  padding: 50px 0;
  margin: 0 auto;
}
main .sponsors h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  color: var(--color-primary-soft);
}
main .sponsors .swiper {
  display: block;
  max-width: 1700px;
  width: 100vw;
}
main .sponsors .swiper .swiper-wrapper {
  height: 300px;
}
main .sponsors .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
}
main .sponsors .swiper .swiper-wrapper .swiper-slide img {
  width: 350px;
  height: 200px;
  object-fit: scale-down;
}
main .sponsors .swiper .swiper-pagination .swiper-pagination-bullet {
  background: var(--color-primary);
}
main .details {
  margin-bottom: 50px;
}
main .details h1 {
  color: var(--color-primary);
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 20px;
}
main .details ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 50px 100px;
  max-width: 2000px;
}
main .details ul li {
  grid-column: 1fr;
}
main .details ul li h2 {
  font-size: 5rem;
  color: var(--color-text);
  text-align: center;
  font-family: Playpen Sans;
}
main .details ul li h3 {
  color: var(--color-text-soft);
  text-align: center;
  font-family: Playpen Sans;
}
main .about-school {
  padding: 50px 0 100px;
}
main .about-school .wrapper .text-container {
  grid-column: 2/7;
}
main .about-school .wrapper .text-container .wiki {
  position: relative;
}
main .about-school .wrapper .text-container .wiki p {
  color: var(--color-text-soft);
  line-height: 1.5rem;
  text-indent: 1rem;
  text-align: justify;
  margin-bottom: 20px;
}
main .about-school .wrapper .text-container .wiki .read-more {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: -50px;
  background: linear-gradient(0deg, #ffffff 15%, rgba(255, 255, 255, 0) 100%);
  height: 300px;
}
main .about-school .wrapper .text-container .wiki .read-more a {
  background: var(--color-primary-soft);
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0;
}
main .about-school .wrapper .text-container .wiki .read-more a i {
  color: var(--color-white);
  font-size: 1.2rem;
  padding: 0;
  margin-right: 10px;
}
main .about-school .wrapper .text-container .wiki .read-more a span {
  color: var(--color-white);
}
main .about-school .wrapper .text-container .wiki .read-more a:hover {
  border-radius: 0px 10px;
}
main .about-school .wrapper .img-container {
  grid-column: 8/12;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about-school .wrapper .img-container .img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  width: 100%;
  height: auto;
}
main .about-school .wrapper .img-container .img img {
  width: 100%;
  object-fit: scale-down;
  border-radius: 0px 10px;
  border: 3px solid var(--color-gray);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.431372549);
}
main .about-school .wrapper .img-container .img img:hover {
  border-radius: 10px 0;
}
main .about-school .wrapper .img-container .img::before, main .about-school .wrapper .img-container .img::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  border: 10px solid var(--color-primary);
}
main .about-school .wrapper .img-container .img::before {
  top: -30px;
  right: -30px;
  border-left: none;
  border-bottom: none;
}
main .about-school .wrapper .img-container .img::after {
  bottom: -30px;
  left: -30px;
  border-right: none;
  border-top: none;
}
main > .contact {
  background: #0b1127;
  background: linear-gradient(0deg, #0b1127 0%, #1f2a4b 100%);
  height: auto;
  padding: 70px 0 80px;
}
main > .contact * {
  color: #fff;
}
main > .contact .wrapper > div {
  display: flex;
  justify-content: center;
  max-width: 1000px;
}
main > .contact .wrapper .text {
  grid-column: 2/7;
  flex-direction: column;
}
main > .contact .wrapper .text > h3 {
  font-size: 1.2rem;
  color: var(--color-gray);
  font-family: Playpen Sans;
}
main > .contact .wrapper .text h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}
main > .contact .wrapper .text > p {
  margin-bottom: 50px;
}
main > .contact .wrapper .text ul {
  margin-bottom: 50px;
  border-left: 3px solid var(--color-white);
  padding-left: 20px;
}
main > .contact .wrapper .text ul li {
  margin: 10px 0;
  display: flex;
}
main > .contact .wrapper .text ul li span,
main > .contact .wrapper .text ul li address {
  margin-left: 10px;
  display: block;
}
main > .contact .wrapper .text .map {
  width: 100%;
  height: 400px;
  position: relative;
}
main > .contact .wrapper .text .map iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px 0px;
}
main > .contact .wrapper .text .map::before, main > .contact .wrapper .text .map::after {
  content: "";
  width: 100px;
  color: #fff;
  height: 100px;
  position: absolute;
  border: 10px solid var(--color-primary);
}
main > .contact .wrapper .text .map::before {
  top: -30px;
  right: -30px;
  border-left: none;
  border-bottom: none;
}
main > .contact .wrapper .text .map::after {
  bottom: -30px;
  left: -30px;
  border-right: none;
  border-top: none;
}
main > .contact .wrapper .form {
  align-items: center;
  grid-column: 8/12;
}
main > .contact .wrapper .form form {
  width: 100%;
}
main > .contact .wrapper .form form div {
  width: 100%;
  margin-bottom: 20px;
}
main > .contact .wrapper .form form div label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
main > .contact .wrapper .form form div input[type=text],
main > .contact .wrapper .form form div textarea {
  background: #fff;
  width: 100%;
  height: 50px;
  font-size: 1.2rem;
  padding: 0 10px;
  color: var(--color-text-soft);
  border: 3px solid var(--color-gray);
  border-radius: 10px 0;
}
main > .contact .wrapper .form form div input[type=text]:focus,
main > .contact .wrapper .form form div textarea:focus {
  border: 3px solid var(--color-primary);
  border-radius: 0px 10px;
}
main > .contact .wrapper .form form div textarea {
  padding: 10px;
  height: 180px;
  resize: none;
}
main > .contact .wrapper .form form div.agree-terms {
  display: flex;
}
main > .contact .wrapper .form form div.agree-terms input[type=checkbox] {
  display: none;
}
main > .contact .wrapper .form form div.agree-terms input[type=checkbox] + label::before {
  content: "✔";
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  position: absolute;
  left: 0;
}
main > .contact .wrapper .form form div.agree-terms input[type=checkbox]:checked + label::before {
  background-color: var(--color-primary);
  color: #fff;
  border: 2px solid #fff;
}
main > .contact .wrapper .form form div.agree-terms label {
  font-size: 0.8rem;
  text-align: justify;
  color: var(--color-gray-soft);
  font-weight: normal;
  position: relative;
  padding-left: 30px;
}
main > .contact .wrapper .form form div.agree-terms label a {
  text-decoration: underline;
}
main > .contact .wrapper .form form button {
  width: 100%;
  height: 50px;
  background: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
  border-radius: 10px 0;
  font-size: 1.2rem;
  cursor: pointer;
}
main > .contact .wrapper .form form button:hover {
  background: var(--color-primary-soft);
  border-radius: 0px 10px;
}

@media screen and (max-width: 1350px) {
  main .cover .wrapper > div.left .container h2 {
    font-size: 2rem;
  }
  main .cover .wrapper > div.left .container h1 {
    font-size: 3.5rem;
  }
  main .cover .wrapper > div.left .container p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  main .cover .wrapper > div.left {
    grid-column: 2/8;
  }
  main .cover .wrapper > div.left .container p {
    width: 90%;
  }
  main .cover .wrapper > div.right {
    grid-column: 9/12;
  }
  main .cover .wrapper > div.right .img {
    width: 100%;
  }
  main .cover .wrapper > div.right .img img {
    width: 150%;
  }
}
@media screen and (max-width: 1000px) {
  main .cover .wrapper > div.left {
    grid-column: 2/8;
  }
  main .cover .wrapper > div.left .container h2 {
    font-size: 2rem;
  }
  main .cover .wrapper > div.left .container h1 {
    font-size: 3rem;
  }
  main .cover .wrapper > div.right {
    grid-column: 9/12;
  }
  main .cover .wrapper > div.right .img {
    width: 100%;
  }
  main .cover .wrapper > div.right .img img {
    width: 150%;
  }
  main .details ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 100px 150px;
  }
  main .banner {
    height: 600px;
  }
  main .about-school .wrapper .text-container {
    grid-column: 2/12;
    margin-bottom: 150px;
  }
  main .about-school .wrapper .img-container {
    grid-column: 2/12;
  }
  main > .contact .wrapper > .text {
    grid-column: 2/12;
    margin-bottom: 100px;
  }
  main > .contact .wrapper > .form {
    grid-column: 2/12;
  }
}
@media screen and (max-width: 1100px) {
  main .plot .wrapper {
    margin-bottom: 50px;
  }
  main .plot .wrapper .description {
    grid-column: 2/12;
    margin-bottom: 70px;
  }
  main .plot .wrapper .disc-cover, main .plot .wrapper .audio {
    grid-column: 2/12;
  }
}
@media screen and (max-width: 880px) {
  main .cover .wrapper > div.left {
    grid-column: 2/12;
  }
  main .cover .wrapper > div.left .container h2 {
    font-size: 2rem;
  }
  main .cover .wrapper > div.left .container h1 {
    font-size: 2.8rem;
  }
  main .cover .wrapper > div.left .container p {
    width: 100%;
  }
  main .cover .wrapper > div.left .container > a {
    padding: 15px 50px;
    font-size: 1.1rem;
  }
  main .cover .wrapper > div.left .container .social-links {
    display: flex;
  }
  main .cover .wrapper > div.right {
    display: none;
  }
  main .nav-info {
    justify-content: space-evenly;
  }
  main .nav-info p {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  main .nav-info .wrapper section.contact {
    width: 100%;
    justify-content: space-evenly;
  }
  main .nav-info .wrapper section.social-network {
    display: none;
  }
  main .banner {
    height: 400px;
    margin-bottom: 80px;
  }
  main .sponsors h1 {
    font-size: 1.5rem;
  }
  main .details ul {
    grid-template-columns: repeat(1, 1fr);
    gap: 100px 0;
  }
}
@media screen and (max-width: 370px) {
  main .nav-info .wrapper section.contact div:nth-child(2) {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
