:root {
  --color-primary: #008025;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #a0a0a0;
  --color-text: #302e4d;
  --color-primary-soft: #1a9d40;
  --color-black-soft: #252525;
  --color-white-soft: #f2f2fc;
  --color-gray-soft: #e8dfec;
  --color-text-soft: #504e70;
}

.sobre-a-escola {
  display: flex;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  border-top: var(--color-primary) solid 4px;
  border-bottom: var(--color-primary) solid 4px;
  margin-bottom: 6rem;
  margin-top: -2rem;
  padding: .5rem;
}

.as-title-p {
  display: flex;
  flex-direction: column;
}

.sobre-a-escola h1, p {
  padding: 1rem;
  margin-right: 1.5rem;
}

.sobre-a-escola h1 {
  color: var(--color-primary);
  text-align: center;
}

.sobre-a-escola .pAS {
  color: var(--color-text-soft);
  line-height: 1.5rem;
  text-indent: 1rem;
}

.sobre-a-escola a {
  color: var(--color-white-soft);
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  background-color: var(--color-primary);
  width: 160px;
  text-align: center;
  padding: .5rem 1rem;
  border-radius: 7px;
}

.sobre-a-escola a:hover {
  color: var(--color-white-soft);
  font-weight: bold;
  margin-top: 2rem;
  background-color: var(--color-primary-soft);
  transform: scale(1.2);
  transition: 0.3s;
}

.bi-box-arrow-up-right {
  margin-left: .5rem;
  font-size: 1rem;
  color: var(--color-white-soft);
}

.pavilhao {
  display: flex;
  height: 570px;
  border-radius: 1rem 0;
  margin-top: 2.2rem;
}

.pavilhao:hover {
  display: flex;
  height: 570px;
  border-radius: 0 1rem;
  margin-top: 2.2rem;
  transition: 300ms;
}