@import url("./partials/global.css");
main .cover {
  height: 85vh;
}
main .cover > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .cover > div > div.left {
  width: 50%;
}
main .cover > div > div.left .container h2 {
  font-size: 2.5rem;
  color: var(--color-primary-soft);
  font-family: wedding;
}
main .cover > div > div.left .container h1 {
  font-size: 3.9rem;
  margin-bottom: 20px;
  color: var(--color-primary-soft);
  font-family: wedding;
}
main .cover > div > div.left .container p {
  margin-bottom: 50px;
  font-size: 1.1rem;
  color: var(--color-text-soft);
}
main .cover > div > div.left .container a {
  display: inline-block;
  padding: 10px 50px;
  background: var(--color-primary-soft);
  color: var(--color-white);
  font-weight: bold;
  border-radius: 10px 0;
}
main .cover > div > div.left .container a:hover {
  background: var(--color-primary);
  border-radius: 0px 10px;
}
main .cover > div > div.right {
  width: 40%;
}
main .cover > div > div.right .img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}
main .cover > div > div.right .img img {
  width: 450px;
}
main .cover > div > div.right .social-links {
  display: flex;
  justify-content: center;
}
main .cover > div > div.right .social-links li {
  margin: 0 10px;
  position: relative;
  top: 0;
}
main .cover > div > div.right .social-links li a i {
  font-size: 2.4rem;
  color: var(--color-text-soft);
}
main .cover > div > div.right .social-links li:hover {
  top: -5px;
}
main .cover > div > div.right .social-links li:hover a i {
  color: var(--color-primary-soft);
}
main .nav-info {
  background: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 2%;
  grid-column: 1/13;
}
main .nav-info * {
  color: #fff;
}
main .nav-info > p {
  cursor: pointer;
  font-size: 0.8rem;
}
main .nav-info > p:hover {
  color: white;
}
main .nav-info section {
  display: flex;
}
main .nav-info section.contact div {
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}
main .nav-info section.contact div i {
  margin-right: 5px;
}
main .nav-info section.contact div span {
  font-size: 0.8rem;
}
main .nav-info section.contact div:hover i,
main .nav-info section.contact div:hover span {
  color: white;
}
main .nav-info section.social-network {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .nav-info section.social-network span {
  margin-right: 15px;
  font-size: 0.8rem;
}
main .nav-info section.social-network a {
  margin: 0 3px;
}
main .nav-info section.social-network a i {
  font-size: 1.2rem;
}
main .nav-info section.social-network a:hover i {
  color: white;
  cursor: pointer;
}
main .plot .container {
  display: flex;
  justify-content: center;
}
main .plot .container .description {
  color: #008025;
}
main .plot .container .description h1 {
  text-transform: uppercase;
}
main .plot .container .description p {
  display: flex;
  width: 400px;
  line-height: 20px;
  margin-top: 1rem;
}
main .plot .container .description button {
  display: flex;
  margin-left: 0.5rem;
  background-color: #008025;
  color: white;
  text-decoration: none;
  padding: 0.1rem 0.5rem;
  align-items: center;
  border-radius: 6px;
  font-weight: 600;
  border: 1px solid white;
  transition: 300ms;
}
main .plot .container .description button:hover {
  background-color: white;
  color: #008025;
  padding: 0.1rem 0.4rem;
  border: 1px solid #008025;
}
main .plot .container .disc-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 375px;
}
main .plot .container .disc-cover img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  height: 375px;
  object-fit: cover;
}
main .plot .container .disc-cover .icons {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 300ms;
}
main .plot .container .disc-cover .icons button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  cursor: pointer;
  border: 3px solid transparent;
}
main .plot .container .disc-cover .icons button i {
  color: white;
  font-size: 4rem;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
main .plot .container .disc-cover .icons button#pause-song {
  display: none;
}
main .plot .container .disc-cover .icons button:hover {
  border: 3px solid white;
}
main .plot .container .disc-cover:hover .icons {
  opacity: 1;
}
main .sponsors {
  padding: 50px 0;
}
main .sponsors h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  color: var(--color-text);
}
main .sponsors .swiper .swiper-wrapper {
  height: 300px;
}
main .sponsors .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
}
main .sponsors .swiper .swiper-wrapper .swiper-slide img {
  width: 350px;
  height: 200px;
  object-fit: scale-down;
}
main .sponsors .swiper .swiper-pagination .swiper-pagination-bullet {
  background: var(--color-primary);
}

/*# sourceMappingURL=index.css.map */
