@charset "UTF-8";
@import url("./partials/global.css");
main .cover {
  height: 85vh;
}
main .cover > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
main .cover > div > div.left {
  width: 50%;
}
main .cover > div > div.left .container h2 {
  color: var(--color-primary-soft);
  font-family: wedding;
  font-size: 2.5rem;
}
main .cover > div > div.left .container h1 {
  color: var(--color-primary-soft);
  font-family: wedding;
  font-size: 3.9rem;
  margin-bottom: 20px;
}
main .cover > div > div.left .container p {
  color: var(--color-text-soft);
  font-size: 1.1rem;
  margin-bottom: 50px;
}
main .cover > div > div.left .container a {
  background: var(--color-primary-soft);
  border-radius: 10px 0;
  color: var(--color-white);
  display: inline-block;
  font-weight: bold;
  padding: 10px 50px;
}
main .cover > div > div.left .container a:hover {
  background: var(--color-primary);
  border-radius: 0px 10px;
}
main .cover > div > div.right {
  width: 40%;
}
main .cover > div > div.right .img {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}
main .cover > div > div.right .img img {
  width: 450px;
}
main .cover > div > div.right .social-links {
  display: flex;
  justify-content: center;
}
main .cover > div > div.right .social-links li {
  margin: 0 10px;
  position: relative;
  top: 0;
}
main .cover > div > div.right .social-links li a i {
  font-size: 2.4rem;
  color: var(--color-text-soft);
}
main .cover > div > div.right .social-links li a i.fa-facebook {
  color: #3b5998;
}
main .cover > div > div.right .social-links li a i.fa-instagram {
  color: #e4405f;
}
main .cover > div > div.right .social-links li a i.fa-x-twitter {
  color: #000000;
}
main .cover > div > div.right .social-links li a i.fa-youtube {
  color: #cd201f;
}
main .cover > div > div.right .social-links li:hover {
  top: -5px;
}
main .cover > div > div.right .social-links li:hover a i {
  color: var(--color-primary-soft);
}
main .nav-info {
  background: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 2%;
  grid-column: 1/13;
}
main .nav-info * {
  color: #fff;
}
main .nav-info > p {
  cursor: pointer;
  font-size: 0.8rem;
}
main .nav-info > p:hover {
  color: white;
}
main .nav-info section {
  display: flex;
}
main .nav-info section.contact div {
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}
main .nav-info section.contact div i {
  margin-right: 5px;
}
main .nav-info section.contact div span {
  font-size: 0.8rem;
}
main .nav-info section.contact div:hover i,
main .nav-info section.contact div:hover span {
  color: white;
}
main .nav-info section.social-network {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .nav-info section.social-network span {
  margin-right: 15px;
  font-size: 0.8rem;
}
main .nav-info section.social-network a {
  margin: 0 3px;
}
main .nav-info section.social-network a i {
  font-size: 1.2rem;
}
main .nav-info section.social-network a:hover i {
  color: white;
  cursor: pointer;
}
main .banner {
  position: relative;
  height: 100vh;
}
main .banner .slides {
  position: absolute;
  width: 100%;
  height: 100%;
}
main .banner .slides li {
  width: 100%;
  height: 100%;
}
main .banner .slides li .img {
  width: 100%;
  height: 100%;
}
main .banner .slides li .img img {
  width: 100%;
  height: 100%;
}
main .banner .slides li .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: hsla(0, 0%, 0%, 0.6);
  height: 100%;
  width: 100%;
}
main .banner .slides li .text * {
  color: var(--color-white);
}
main .banner .slides li .text h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}
main .banner .slides li .text p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  width: 50%;
}
main .banner .slides li .text a {
  background: var(--color-primary);
  border-radius: 10px 0;
  color: var(--color-white);
  display: inline-block;
  font-weight: bold;
  padding: 15px 50px;
  border: 3px solid var(--color-white);
  font-size: 1.5rem;
  text-transform: uppercase;
}
main .banner .slides li .text a:hover {
  background: var(--color-primary-soft);
  border-radius: 0px 10px;
}
main .banner > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px 15px;
  border-radius: 10px;
}
main .banner > button.prev {
  left: 30px;
}
main .banner > button.next {
  right: 30px;
}
main .banner > button i {
  font-size: 3.5rem;
  color: var(--color-primary-soft);
}
main .banner .pagination {
  position: absolute;
  bottom: 30px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}
main .banner .pagination .dot {
  width: 50px;
  height: 5px;
  margin: 0 5px;
  background: var(--color-gray);
  border-radius: 10px;
}
main .banner .pagination .dot.active {
  background: var(--color-primary);
}
main .plot {
  align-items: center;
  min-height: 100vh;
}
main .plot .description {
  grid-column: 2/7;
}
main .plot .description h2 {
  font-size: 2rem;
  color: var(--color-primary);
  font-family: Playpen Sans;
}
main .plot .description h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: var(--color-text);
}
main .plot .description p {
  color: var(--color-text-soft);
  text-align: justify;
  margin-bottom: 10px;
}
main .plot .description span {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  color: var(--color-text);
}
main .plot .description button {
  display: block;
}
main .plot .disc-cover {
  grid-column: 8/13;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  box-shadow: -10px -10px 10px 0 #fff, 10px 10px 10px 0 rgba(0, 0, 0, 0.6);
  height: 400px;
  overflow: hidden;
  border-radius: 6px;
}
main .plot .disc-cover img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .plot .disc-cover .icons {
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: 300ms;
  width: 100%;
}
main .plot .disc-cover .icons button {
  align-items: center;
  border-radius: 50%;
  border: 3px solid transparent;
  cursor: pointer;
  display: flex;
  height: 80px;
  justify-content: center;
  transition: 300ms;
  width: 80px;
  background: #000;
}
main .plot .disc-cover .icons button i {
  color: white;
  font-size: 4rem;
}
main .plot .disc-cover .icons button#play-song {
  padding-left: 8px;
}
main .plot .disc-cover .icons button#pause-song {
  display: none;
}
main .plot .disc-cover .icons button:hover {
  border: 3px solid white;
}
main .plot .disc-cover .icons .player-bars {
  display: flex;
  position: absolute;
  bottom: 0px;
}
main .plot .disc-cover .icons .player-bars .bar {
  margin: 0 2px;
  background: #000;
  border-radius: 10px 10px 0px 0px;
  width: 1px;
  height: 50px;
  border: 2px solid #fff;
  border-bottom: none;
  transform: translateY(45px);
}
@keyframes ocilation {
  from {
    transform: translateY(45px);
  }
  to {
    transform: translateY(0px);
  }
}
main .plot .disc-cover:hover .icons {
  opacity: 1;
}
main .sponsors {
  padding: 50px 0;
  height: 500px;
}
main .sponsors h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  color: var(--color-text);
}
main .sponsors .swiper .swiper-wrapper {
  height: 300px;
}
main .sponsors .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
}
main .sponsors .swiper .swiper-wrapper .swiper-slide img {
  width: 350px;
  height: 200px;
  object-fit: scale-down;
}
main .sponsors .swiper .swiper-pagination .swiper-pagination-bullet {
  background: var(--color-primary);
}
main .details {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
main .details ul {
  display: flex;
}
main .details ul li {
  padding: 40px;
}
main .details ul li h2 {
  font-size: 5rem;
  color: var(--color-text);
  text-align: center;
  font-family: Playpen Sans;
}
main .details ul li h3 {
  color: var(--color-text-soft);
  text-align: center;
  font-family: Playpen Sans;
}
main > .contact {
  background: #0b1127;
  background: linear-gradient(0deg, #0b1127 0%, #1f2a4b 100%);
  min-height: 100vh;
  height: auto;
  padding: 70px 0 20px;
}
main > .contact * {
  color: #fff;
}
main > .contact > div {
  display: flex;
  justify-content: center;
}
main > .contact .text {
  grid-column: 2/7;
  flex-direction: column;
  max-width: 600px;
}
main > .contact .text > h3 {
  font-size: 1.2rem;
  color: var(--color-gray);
  font-family: Playpen Sans;
}
main > .contact .text h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}
main > .contact .text > p {
  margin-bottom: 50px;
}
main > .contact .text ul {
  margin-bottom: 50px;
  border-left: 3px solid var(--color-white);
  padding-left: 20px;
}
main > .contact .text ul li {
  margin: 10px 0;
  display: flex;
}
main > .contact .text ul li span,
main > .contact .text ul li address {
  margin-left: 10px;
  display: block;
}
main > .contact .text .map {
  width: 100%;
  height: 400px;
  position: relative;
}
main > .contact .text .map iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px 0px;
}
main > .contact .text .map::before, main > .contact .text .map::after {
  content: "";
  width: 100px;
  color: #fff;
  height: 100px;
  position: absolute;
  border: 10px solid var(--color-primary);
}
main > .contact .text .map::before {
  top: -30px;
  right: -30px;
  border-left: none;
  border-bottom: none;
}
main > .contact .text .map::after {
  bottom: -30px;
  left: -30px;
  border-right: none;
  border-top: none;
}
main > .contact .form {
  align-items: center;
  grid-column: 8/12;
}
main > .contact .form form {
  min-width: 450px;
}
main > .contact .form form div {
  width: 100%;
  margin-bottom: 20px;
}
main > .contact .form form div label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Playpen Sans;
}
main > .contact .form form div input[type=text],
main > .contact .form form div textarea {
  background: #fff;
  width: 100%;
  height: 50px;
  font-size: 1.2rem;
  padding: 0 10px;
  color: var(--color-text-soft);
  border: 3px solid var(--color-gray);
  border-radius: 10px 0;
}
main > .contact .form form div input[type=text]:focus,
main > .contact .form form div textarea:focus {
  border: 3px solid var(--color-primary);
  border-radius: 0px 10px;
}
main > .contact .form form div textarea {
  padding: 10px;
  height: 180px;
  resize: none;
}
main > .contact .form form div.agree-terms {
  display: flex;
}
main > .contact .form form div.agree-terms input[type=checkbox] {
  display: none;
}
main > .contact .form form div.agree-terms input[type=checkbox] + label::before {
  content: "✔";
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  position: absolute;
  left: 0;
}
main > .contact .form form div.agree-terms input[type=checkbox]:checked + label::before {
  background-color: var(--color-primary);
  color: #fff;
  border: 2px solid #fff;
}
main > .contact .form form div.agree-terms label {
  font-size: 0.8rem;
  text-align: justify;
  color: var(--color-gray-soft);
  font-weight: normal;
  position: relative;
  padding-left: 30px;
}
main > .contact .form form div.agree-terms label a {
  text-decoration: underline;
}
main > .contact .form form button {
  width: 100%;
  height: 50px;
  background: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
  border-radius: 10px 0;
  font-size: 1.2rem;
  cursor: pointer;
}
main > .contact .form form button:hover {
  background: var(--color-primary-soft);
  border-radius: 0px 10px;
}

/*# sourceMappingURL=index.css.map */
