@import url('./global.css');

footer {
	background: #000;
	padding: 70px 20px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);

	* {
		color: #fff;
	}

	section{
		&.structure{
			display: flex;
			div{
				h3{
					font-size: 20px;
					font-weight: 600;
					margin-bottom: 20px;
					text-transform: uppercase;
				}
				ul{
					li{
						a{

						}
					}
					.
				}
			}
		}
		&.newsletter{
			h3{}
			form{
				input{}
			}
		}
		&.copyriht{}
		&.terms{}
	}
}