@import url('./global.css');

footer {
	background: #000;
	padding: 50px 0;
	
	*{
		color: #fff;
	}
	
	h1 {
		text-align: center;
		margin-bottom: 30px;
	}

	.container {
		grid-template-columns: 1;


		article {
			display: flex;
			flex-direction: column;
			align-items: center;
			h2{
				font-size: 1rem; 
				margin-bottom: 10px;
			}
			img{
				margin-bottom: 25px;
			}
			&.structure {
				grid-column: 2/4;
				> ul{
					display: grid;
					grid-template-columns: 1fr 1fr;
					justify-content: center;
					gap: 10px;
					>li{
						display: inline-block;
						grid-column: 1fr;
						>a{
							color: #bb0b0b;
						}
						>ul{
							>li{
								>a{}
							}
						}
					}
				}
			}

			&.dev {
				grid-column: 5/8;

			}

			&.address {
				grid-column: 9/12;

			}
		}
	}
}