@import url('./global.css');

footer {
	background: #000;
	padding: 20px;
	
	*{
		color: #fff;
	}
	
	h1 {
		text-align: center;
	}

	.container {
		display: flex;

		article {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			h2{

			}
			&.structure {
				> ul{
					display: flex;
					flex-wrap: wrap;
					>li{
						display: inline-block;
						>a{}
						>ul{
							li{
								a{}
							}
						}
					}
				}
			}

			&.dev {}

			&.address {}
		}
	}
}